<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment2_au547352_f20_wordlearnerapp2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/word_learner_red01"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/word_learner_red01"
        android:supportsRtl="true"
        android:theme="@style/ABstheme"
        android:name=".Application.WordApplication">
        <service
            android:name=".Service.WordService"
            android:enabled="true"
            android:permission="android:permission.BIND_WORD_SERVICE"
            android:exported="true" />

        <activity android:name=".Activities.EditActivity" />
        <activity android:name=".Activities.DetailsActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>